.autocomplete {
  position: relative;
  color: #343235;
  margin-bottom: 8px;
}

.autocomplete > input {
  width: 100%;
  height: 30px;
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  padding: 0px 8px;
  color: #343235;
  font-weight: 600;
}

.autocomplete .list {
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  color: #343235;
  font-weight: 600;
  max-height: 122px;
  overflow-y: auto;
}

.autocomplete .list_item {
  height: 30px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.autocomplete .list_item:hover {
  background-color: #40a8c2;
  border-radius: 5px;
}
