.floatbuttons {
    position: fixed;
    top: 15px;
    width: 90%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.floatbuttons .cyrcle {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #40a8c2;
    box-shadow: 0px 0px 0px 5px #40a8c2;
    border: solid 2px rgba(255, 255, 255, 0.47);
    transition: 0.4s;
}

.cyrcle.night {
    background-color: #206583;
    box-shadow: 0px 0px 0px 5px #206583;
}

.floatbuttons .cyrcle:hover {
    border-style: dashed;
}

.floatbuttonsImage {
    height: 30px;
}

.bubble {
    position: absolute;
    bottom: 200px;
    /* right: 0px; */
    left: -30px;
    height: 100px;
    width: 100px;
    filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
    padding: 16px;
    padding: 0px;
    background: #40a8c2;
    color: white;
    z-index: 10;
}


/* .bubble.showBubble::before {
    border: 12.5px solid transparent;
    border-top: 12.5px solid #40a8c2;
    border-bottom: 0;
    height: 0;
    width: 0;
    border-top-width: 25px;
    content: '';
    display: block;
    position: absolute;
    left: 3rem;
} */

.bubble.showBubble {
    animation: slide-rotate 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bubble.night {
    background-color: #206583;
}

.bubble.showBubble {
    animation: slide-rotate 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bubble.night.showBubble::before {
    /* background-color: #206583; */
    border: 12.5px solid transparent;
    border-top: 21.5px solid #206583;
}

@keyframes slide-rotate {
    0% {
        transform: translateY(150px) rotateX(90deg);
        bottom: 200px;
    }
    100% {
        transform: translateY(0) rotateX(0deg);
        bottom: -150px;
    }
}

.bubble.showBubble.firstBuble {
    width: 300px;
    height: 100px;
    padding: 8px;
    margin-bottom: 120px;
    margin-left: -90px;
    box-shadow: 1px 2px 15px 5px #2b2b2b;
    border-radius: 10px;
    z-index: 1;
}

.bubble.showBubble.thirdBuble {
    width: 194px;
    height: 150px;
    padding: 8px;
    margin-bottom: 70px;
    margin-left: 90px;
    border-radius: 8px;
}

@media (max-width: 425px) {
    .floatbuttons {
        height: 60px;
    }
}