html,
body {
  margin: 0;
  /* color: #bfc1c8; */
  color: #ffffff;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 100vh;
  overflow-x: hidden;
}

#root,
.App {
  height: 100%;
}

.App {
  overflow: hidden;
  position: relative;
  background-color: #1f6482;
  background-image: linear-gradient(to bottom right, #fefefe, #c7c7c7);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 270px);
  height: 100%;
}

.t2 {
  background-color: #3ea6c3;
  height: 50px;
  width: 400px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

body * {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

@media (max-width: 1024px) {
  .wrapper {
    padding-top: 0;
  }
}
